In [2]:
%load_ext autoreload
%autoreload 2
import pandas as pd

In [3]:
df = pd.read_csv('simple_zoo.csv', delimiter = ',')

<h3>pandas.DataFrame.loc</h3>
<br>
.loc[] is primarily <b>label</b> based, but may also be used with a boolean array.

In [30]:
 df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
      index=['cobra', 'viper', 'sidewinder'],
      columns=['max_speed', 'shield'])

In [31]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [32]:
df.shield  # without label will map to the column

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64

In [33]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [34]:
df.loc[['viper', 'sidewinder']] # list of labels

            max_speed  shield
viper               4       5
sidewinder          7       8

In [35]:
df.loc['cobra':'viper', 'max_speed'] #slice labels and single column

cobra    1
viper    4
Name: max_speed, dtype: int64

In [36]:
df.loc[[False, True, True]] # locates index using bools

            max_speed  shield
viper               4       5
sidewinder          7       8

In [37]:
# loc declarative predicate aproach that return true rows
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [41]:
df.loc[df.shield > 6, ['max_speed']] #column label specified

            max_speed
sidewinder          7


<h4> SQL equivalent -- we always need to specify the table </h4>

<p>CREATE TABLE animals(name varchar(255),max_speed smallint,shield smallint)</p>
<p>INTERT INTO animals
VALUES  ('cobra',1,2),
        ('viper',4,5),
        ('sidewinder',7,8)</p>

<p> SELECT * FROM animals</p>
<div  style="color:#007bb5;" >
    <p> SELECT max_speed 
     FROM animals
     WHERE shield > 6 </p>
 </div>
 <br>

In [45]:
df.loc[:, 'max_speed'] = 30 # set columns values
df.loc['cobra'] = 10 # set row values

In [46]:
df

            max_speed  shield
cobra              10      10
viper              30       5
sidewinder         30       8

In [55]:
# note
# this returns a Series
df.loc[:,'shield']

cobra         10
viper          5
sidewinder     8
Name: shield, dtype: int64

In [56]:
# add [] to returns a Dataframe
df.loc[:,['shield']]

            shield
cobra           10
viper            5
sidewinder       8